.optionalEquipments {
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }
}

.optionalEquipments__label {
  user-select: none;
  cursor: pointer;
}

.app-grid {
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.chip {
  inline-size: fit-content;
}
