<div>
  <app-layout>
    <ng-container slot="topbar">
      <app-topbar></app-topbar>
    </ng-container>

    <div class="app-grid grid grid-cols-3">
      @for (optionalEquipment of optionalEquipments; track optionalEquipment.key) {
        <div class="optionalEquipments__label flex items-center px-4 py-2" (click)="toggleSelection(optionalEquipment)">
          <input type="checkbox" [checked]="optionalEquipment.selected"
                 (change)="toggleSelection(optionalEquipment)"/>
        </div>
        <div class="optionalEquipments__label flex items-center px-4 py-2" (click)="toggleSelection(optionalEquipment)">
          <label> {{ optionalEquipment.name }} </label>
        </div>
        <div class="flex items-center px-8 py-2">
          <app-chip [status]="optionalEquipment.status!"></app-chip>
        </div>
      }
    </div>

    @if (showResult) {
      <app-expansion-panel [open]="true" summary="Result:">
        <p> The results will be updated in the list above. It could take some time.</p>
        <div class="flex flex-row gap-2 items-center my-2">
          <label>Final Result:</label>
          <app-chip [status]="getFinalStatus()"></app-chip>
        </div>
        <app-button (clicked)="resetSelection()">Reset</app-button>
      </app-expansion-panel>
    }

    <ng-container slot="sidebar">
      <h1 class="font-semibold text-lg">Page information:</h1>

      <p class="text-justify">
        The engine you selected allows you to add some optional equipment.
        We need to run multiple checks and simulations to validate that the selected equipment works with the engine.
        To test, please first select the optional equipment and then start the analysis of the components.
      </p>

      <app-button class="m-4 flex self-end" (click)="startAnalysis()" [enabled]="isAnalysisEnabled()">
        Analyse selected equipment
      </app-button>
    </ng-container>
  </app-layout>
</div>

